<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      h3{
    font-style: italic;
  
    color: white;
}
    </style>
    
  </head>
  <body>
  
   <h3 > Stim cat de greu este sa iei decizii in legatura cu viitorul tau. Acest site te va ajuta sa iei decizia corecta. Aici se afla tot ce vrei sa stii in legatura cu studiile de licenta din cele 3 mari universitati din Bucuresti si anume Academia de Studii Economice, Universitatea Politehnica Bucuresti si Universitatea Bucuresti.
</h3>  
  </body>
</html>